* {
  font-family: Inter;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.input {
  display: inline-flex;
  height: 34px;
  padding: 0;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #bcccdc;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  padding-left: 8px;
}

.input__increment-buttons {
  border-radius: 4px 0 0 4px;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.counter-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0;
}

.scroll-button {
  display: flex;
  justify-content: center;
  width: 28px;
  height: 28px;
  border: none;
  cursor: pointer;
  touch-action: none;
  user-select: none;
  padding: 4px 0;
}

.drag-indicator {
  position: absolute;
  width: 2px;
  height: 80px; /* MAX_DRAG_DISTANCE */
  opacity: 0;
  transition: opacity 0.2s;
  left: 50%;
  transform: translate(-50%);
}

.drag-indicator.active {
  opacity: 0;
}

#upperBound {
  background: #07a737;
  bottom: 100%;
}

#lowerBound {
  background: #ca1212;
  top: 100%;
}

.scroll-icon__arrow-up,
.scroll-icon__arrow-down {
  transition: opacity 0.2s;
  cursor: pointer;
}

.scroll-icon__circle {
  transition: transform 0.2s;
}

/* chevron component */
.chevron-counter-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.chevron {
  position: absolute;
  width: 24px;
  height: 24px;
  cursor: pointer;
  touch-action: none;
  user-select: none;
  transition: opacity 0.2s;
  fill: #1e75df;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);
}

.chevron.active {
  opacity: 1;
}

.chevron-up {
  bottom: 100%;
}

.chevron-down {
  top: 100%;
  transform: translateX(-50%) rotate(180deg);
}

.button-counter-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0;
  margin-top: 40px;
}

.button-counter-wrapper {
  position: relative;
  display: inline-block;
}

.button-counter-wrapper input {
  overflow: hidden;
  padding-right: 35px; /* Make room for buttons */
}

.button-controls {
  position: relative;
  right: 1px;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.button-chevron {
  width: 36px;
  height: 18px;
  cursor: pointer;
  touch-action: none;
  user-select: none;
  fill: #1e75df;
  background: #fff;
  border: 1px solid #bcccdc;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: #f7f8f9;
  }

  &:active {
    background: #e9f0f8;
  }
}

.button-chevron-up {
  border-radius: 0 4px 0 0;
  border-bottom: 0;
}

.button-chevron-down {
  border-radius: 0 0 4px 0;
}

.split-button-counter-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0;
  margin-top: 20px;
}

.split-button-wrapper {
  position: relative;
  display: flex;
  align-items: stretch;
}

.input__split-buttons {
  text-align: center;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
}

.split-button {
  width: 36px;
  height: 36px;
  cursor: pointer;
  touch-action: none;
  user-select: none;
  fill: #1e75df;
  background: #fff;
  border: 1px solid #bcccdc;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: #f7f8f9;
  }

  &:active {
    background: #e9f0f8;
  }
}

.split-button-down {
  border-radius: 4px 0 0 4px;
}

.split-button-up {
  border-radius: 0 4px 4px 0;
}
